<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4
                class="card-title"
                style="display: inline-block; font-size: 18px"
              >
                Danh sách yêu cầu
              </h4>
            </div>
            <div class="card-body">
              <mat-tab-group mat-align-tabs="center">
                <mat-tab label="Chờ duyệt">
                  <div class="table-responsive" style="max-height: 450px">
                    <table class="table text-center">
                      <thead class="text-primary">
                        <th>Mã đơn</th>
                        <th>Họ tên</th>
                        <th>Phòng ban</th>
                        <th>Chức vụ</th>
                        <th>Lý do nghỉ</th>
                        <th>Thao tác</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of waitList">
                          <td>{{ item.id }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.departments }}</td>
                          <td>{{ item.positions }}</td>
                          <td>{{ item.reason }}</td>
                          <td>
                            <button
                              class="btn btn-icon btn-light btn-sm btn-primary btn-round mr-2 mat-focus-indicator mat-icon-button mat-button-base"
                              (click)="acceptRequest(item.id)"
                            >
                              <i
                                class="fa fa-check action-btn"
                                aria-hidden="true"
                                style="font-size: 15px"
                              ></i>
                            </button>
                            <button
                              class="btn btn-icon btn-light btn-sm btn-primary btn-round mr-2 mat-focus-indicator mat-icon-button mat-button-base"
                              (click)="refuseRequest(item.id)"
                            >
                              <i
                                class="fa fa-times action-btn"
                                aria-hidden="true"
                                style="font-size: 15px"
                              ></i>
                            </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </mat-tab>
                <mat-tab label="Đã duyệt">
                  <div class="table-responsive" style="max-height: 450px">
                    <table class="table text-center">
                      <thead class="text-primary">
                        <th>Mã đơn</th>
                        <th>Họ tên</th>
                        <th>Phòng ban</th>
                        <th>Chức vụ</th>
                        <th>Lý do nghỉ</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of acceptList">
                          <td>{{ item.id }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.departments }}</td>
                          <td>{{ item.positions }}</td>
                          <td>{{ item.reason }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </mat-tab>
                <mat-tab label="Từ chối">
                  <div class="table-responsive" style="max-height: 450px">
                    <table class="table text-center">
                      <thead class="text-primary">
                        <th>Mã đơn</th>
                        <th>Họ tên</th>
                        <th>Phòng ban</th>
                        <th>Chức vụ</th>
                        <th>Lý do nghỉ</th>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of refuseList">
                          <td>{{ item.id }}</td>
                          <td>{{ item.name }}</td>
                          <td>{{ item.departments }}</td>
                          <td>{{ item.positions }}</td>
                          <td>{{ item.reason }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
