<div class="wrapper">
  <div class="sidebar" data-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h4
                class="card-title"
                style="display: inline-block; font-size: 18px"
              >
                Danh sách người dùng hệ thống
              </h4>
              <button
                type="submit"
                class="btn btn-primary btn-round"
                style="float: right"
                routerLink="create"
              >
                Thêm mới
              </button>
            </div>
            <div class="card-body">
              <div class="table-responsive" style="max-height: 450px">
                <table class="table text-center">
                  <thead class="text-primary">
                    <th>Mã nhân viên</th>
                    <th>Họ tên</th>
                    <th>Ngày sinh</th>
                    <th>Giới tính</th>
                    <th>CCCD</th>
                    <th>Phòng ban</th>
                    <th>Chức vụ</th>
                    <th>Thao tác</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of dataSource">
                      <td>{{ item.id }}</td>
                      <td>{{ item.name }}</td>
                      <td>{{ item.DOB }}</td>
                      <td>{{ item.gender }}</td>
                      <td>{{ item.cccd }}</td>
                      <td>{{ item.department }}</td>
                      <td>{{ item.position }}</td>
                      <td>
                        <button
                          class="btn btn-icon btn-light btn-sm btn-primary btn-round mr-2 mat-focus-indicator mat-icon-button mat-button-base"
                          (click)="editUser(item.id)"
                        >
                          <i
                            class="fa fa-pencil-square-o action-btn"
                            aria-hidden="true"
                            style="font-size: 15px"
                          ></i>
                        </button>
                        <button
                          class="btn btn-icon btn-light btn-sm btn-primary btn-round mr-2 mat-focus-indicator mat-icon-button mat-button-base"
                          (click)="deleteEmployee(item.id, item.user_id)"
                        >
                          <i
                            class="fa fa-trash-o action-btn"
                            aria-hidden="true"
                            style="font-size: 15px"
                          ></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-cmp></footer-cmp>
  </div>
</div>
<fixedplugin-cmp></fixedplugin-cmp>
